/*
@author: Alexandre Barros
*/

/*** Fonts ***/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*** variables ***/
:root {
    --White: hsl(0, 0%, 100%);
    --Slate-300: hsl(212, 45%, 89%);
    --Slate-500: hsl(216, 15%, 48%);
    --Slate-900: hsl(218, 44%, 22%);
}

/*** body ***/
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    background-color: var(--Slate-300);
}

/*** container ***/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}

/*** card ***/
.card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: var(--White);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px hsl(212, 40%, 80%)
}

.card-image {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.card img {
    width: 90%;
    border-radius: .75rem;
}

.card-content {
    padding: .5rem 1rem;
    text-align: center;
}

.card-content h1 {
    font-size: 1.5rem;
    color: var(--Slate-900);
}

.card-content p {
    font-size: .938rem;
    padding-bottom: 1rem;
    color: var(--Slate-500);
}