footer {
  position: fixed;
  margin-top: auto;
  bottom: 0;
  width: 100%;
}
footer p {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
  border-top: 1px solid #ccc;
}
